In [53]:
## Importing important libraries:

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import preprocessing


from sklearn import metrics
from sklearn.metrics import accuracy_score as acc


from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict


from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [54]:
#Reading the data:

data=pd.read_csv('data.csv')

In [55]:
data.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [56]:
data.describe()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,shot_id_number,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
count,30697.000000,29134.000000,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000,29134.000000,3.069700e+04,3.069700e+04,29162.000000,29158.000000,29204.000000,29158.000000,29129.000000
mean,15348.000000,249.576028,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331,15368.581039,2.476407e+07,1.610613e+09,18.204615,15.994109,16.599402,39.027303,38.801852
std,8861.604943,150.186019,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013,8866.520772,7.755175e+06,0.000000e+00,29.416973,29.676815,35.172016,29.835284,18.787711
min,0.000000,2.000000,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,2.000001e+07,1.610613e+09,0.000000,1.000000,0.000000,0.000000,9.400000
25%,7674.000000,111.000000,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000,7693.250000,2.050008e+07,1.610613e+09,3.000000,2.000000,0.000000,17.000000,26.000000
50%,15348.000000,254.000000,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000,15378.500000,2.090035e+07,1.610613e+09,6.000000,3.000000,0.000000,35.000000,36.000000
75%,23022.000000,369.000000,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000,23055.750000,2.960047e+07,1.610613e+09,11.000000,4.000000,1.000000,52.000000,44.000000
max,30696.000000,659.000000,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000,30697.000000,4.990009e+07,1.610613e+09,128.761600,118.360000,141.352320,144.785600,115.728000

In [57]:
data.shape

(30697, 28)

In [59]:
## Dropping unnecessary columns from the dataset:

data.drop(columns=['Unnamed: 0','match_event_id','game_season','team_name','date_of_game','shot_id_number','lat/lng','type_of_shot','type_of_combined_shot','match_id','team_id',],inplace=True)
data=data.iloc[:,:-5]

In [60]:
data.head()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,home/away
0,167.0,72.0,10.0,1.0,0.0,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,MANU @ POR
1,-157.0,0.0,10.0,1.0,0.0,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,MANU @ POR
2,-101.0,135.0,7.0,1.0,0.0,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,NaN
3,138.0,175.0,6.0,1.0,0.0,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,MANU @ POR
4,0.0,0.0,NaN,2.0,0.0,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,MANU @ POR

In [61]:
data.shape

(30697, 12)

In [62]:
data.describe()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal
count,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000
mean,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331
std,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013
min,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000
25%,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000
50%,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000
75%,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000
max,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000

In [63]:
data.describe(include='all')

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,home/away
count,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000,29195,29122,29133,29200
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,7,5,74
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Center(C),Mid Range,Less Than 8 ft.,MANU @ SAS
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12761,11955,8933,971
mean,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331,NaN,NaN,NaN,NaN
std,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013,NaN,NaN,NaN,NaN
min,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,NaN,NaN,NaN,NaN
25%,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000,NaN,NaN,NaN,NaN
50%,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000,NaN,NaN,NaN,NaN
75%,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000,NaN,NaN,NaN,NaN
max,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000,NaN,NaN,NaN,NaN

In [64]:
data['shot_basics'].value_counts()

Mid Range          11955
Goal Area           6787
Penalty Spot        5321
Goal Line           4357
Right Corner         367
Left Corner          268
Mid Ground Line       67
Name: shot_basics, dtype: int64

In [65]:
data['range_of_shot'].value_counts()

Less Than 8 ft.    8933
16-24 ft.          7892
8-16 ft.           6290
24+ ft.            5937
Back Court Shot      81
Name: range_of_shot, dtype: int64

In [66]:
data['area_of_shot'].value_counts()

Center(C)                12761
Right Side Center(RC)     4562
Right Side(R)             4370
Left Side Center(LC)      3848
Left Side(L)              3573
Mid Ground(MG)              81
Name: area_of_shot, dtype: int64

In [67]:
data.isnull().sum()

location_x          1461
location_y          1540
remaining_min       1562
power_of_shot       1486
knockout_match      1517
remaining_sec       1594
distance_of_shot    1567
is_goal             6268
area_of_shot        1502
shot_basics         1575
range_of_shot       1564
home/away           1497
dtype: int64

In [68]:
data.describe()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal
count,29236.000000,29157.000000,29135.000000,29211.000000,29180.000000,29103.000000,29130.000000,24429.000000
mean,7.383876,91.126933,4.883233,2.519359,0.145956,28.329382,33.448884,0.445331
std,110.263049,87.676395,3.452533,1.153976,0.353068,17.470663,9.369656,0.497013
min,-250.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000
25%,-68.000000,4.000000,2.000000,1.000000,0.000000,13.000000,25.000000,0.000000
50%,0.000000,74.000000,5.000000,3.000000,0.000000,28.000000,35.000000,0.000000
75%,95.000000,160.000000,8.000000,3.000000,0.000000,43.000000,41.000000,1.000000
max,248.000000,791.000000,11.000000,7.000000,1.000000,59.000000,99.000000,1.000000

In [69]:
## Filling the reamining missing values:

data['location_x'].fillna(data['location_x'].mean(), inplace=True)
data['location_y'].fillna(data['location_y'].mean(), inplace=True)
data['remaining_min'].fillna(data['remaining_min'].mean(), inplace=True)
data['power_of_shot'].fillna(data['power_of_shot'].median(), inplace=True)
data['knockout_match'].fillna(data['knockout_match'].median(), inplace=True)
data['remaining_sec'].fillna(data['remaining_sec'].mean(), inplace=True)
data['distance_of_shot'].fillna(data['distance_of_shot'].mean(), inplace=True)
data['shot_basics'].fillna(value='Mid Range', inplace=True)
data['range_of_shot'].fillna(value='Less Than 8 ft.', inplace=True)
data['area_of_shot'].fillna(value='Center(C)', inplace=True)
data['home/away'].fillna(value='MANU @ SAS', inplace=True)

In [70]:
data.isnull().sum()

location_x             0
location_y             0
remaining_min          0
power_of_shot          0
knockout_match         0
remaining_sec          0
distance_of_shot       0
is_goal             6268
area_of_shot           0
shot_basics            0
range_of_shot          0
home/away              0
dtype: int64

In [71]:
## Transforming the feature 'home/away' into a categorical variable having values only 'home' and 'away' :

for i in range(data.shape[0]):
    if('@' in data.loc[i,'home/away']):
        data.loc[i,'home/away']='away'
        
    if('vs' in data.loc[i,'home/away']):
        data.loc[i,'home/away']='home'

In [72]:
data.head()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,home/away
0,167.0,72.0,10.000000,1.0,0.0,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,away
1,-157.0,0.0,10.000000,1.0,0.0,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,away
2,-101.0,135.0,7.000000,1.0,0.0,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,away
3,138.0,175.0,6.000000,1.0,0.0,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,away
4,0.0,0.0,4.883233,2.0,0.0,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,away

In [73]:
## Splitting the data into train and test dataset:

test=data[data['is_goal'].isnull()]
train=data[data['is_goal'].notnull()]

In [74]:
data.dtypes

location_x          float64
location_y          float64
remaining_min       float64
power_of_shot       float64
knockout_match      float64
remaining_sec       float64
distance_of_shot    float64
is_goal             float64
area_of_shot         object
shot_basics          object
range_of_shot        object
home/away            object
dtype: object

In [75]:
data.columns

Index(['location_x', 'location_y', 'remaining_min', 'power_of_shot',
       'knockout_match', 'remaining_sec', 'distance_of_shot', 'is_goal',
       'area_of_shot', 'shot_basics', 'range_of_shot', 'home/away'],
      dtype='object')

In [76]:
### PREPARING y, X AND X_test:

y=train['is_goal'].values

X=train[['location_x', 'location_y', 'remaining_min', 'power_of_shot','knockout_match', 'remaining_sec', 'distance_of_shot','area_of_shot', 'shot_basics', 'range_of_shot', 'home/away']].values
X_test=test[['location_x', 'location_y', 'remaining_min', 'power_of_shot','knockout_match', 'remaining_sec', 'distance_of_shot','area_of_shot', 'shot_basics', 'range_of_shot', 'home/away']].values

In [77]:
### LABEL ENCODING:

area_of_shot=preprocessing.LabelEncoder()
shot_basics=preprocessing.LabelEncoder()
range_of_shot=preprocessing.LabelEncoder()
last=preprocessing.LabelEncoder()

## FOR Area_of_shot:

area_of_shot.fit(['Mid Ground(MG)','Right Side(R)', 'Left Side(L)', 'Left Side Center(LC)','Right Side Center(RC)', 'Center(C)'])

X[:,-4]=area_of_shot.transform(X[:,-4])
X_test[:,-4]=area_of_shot.transform(X_test[:,-4])


## FOR Shot_basics:

shot_basics.fit(['Mid Range','Mid Ground Line', 'Right Corner', 'Left Corner' ,'Goal Area', 'Goal Line', 'Penalty Spot'])

X[:,-3]=shot_basics.transform(X[:,-3])
X_test[:,-3]=shot_basics.transform(X_test[:,-3])


## FOR Range_of_shot:

range_of_shot.fit(['Back Court Shot','24+ ft.','16-24 ft.', '8-16 ft.', 'Less Than 8 ft.'])

X[:,-2]=range_of_shot.transform(X[:,-2])
X_test[:,-2]=range_of_shot.transform(X_test[:,-2])

## FOR last column:

last.fit(['away','home'])

X[:,-1]=last.transform(X[:,-1])
X_test[:,-1]=last.transform(X_test[:,-1])

In [78]:
### STANDARDISING X AND X_TEST:


X_=preprocessing.StandardScaler().fit(X).transform(X)
X_test_=preprocessing.StandardScaler().fit(X_test).transform(X_test)

In [79]:
### TEST TRAIN SPLIT:

x_train,x_test_,Y_train,Y_test=train_test_split(X_,y,test_size=0.3,random_state=0)

In [80]:
### LOGISTIC REGRESSION:

from sklearn.linear_model import LogisticRegression

lr=LogisticRegression(C=5, solver='liblinear').fit(x_train,Y_train)

yhat=lr.predict(x_test_)

acc(Y_test,yhat)*100

59.216809933142315

In [132]:
# KNN:

from sklearn.neighbors import KNeighborsClassifier

k=1000


neigh=KNeighborsClassifier(n_neighbors=k).fit(x_train,Y_train)

yhat1=neigh.predict(x_test_)

acc(Y_test,yhat1)*100

59.46240960567608

In [82]:
### SVM (RBF)

from sklearn import svm

clf3=svm.SVC(kernel='rbf',gamma=0.05, C=8, probability=True)


clf3.fit(x_train,Y_train)

yhat3=clf3.predict(x_test_)

(acc(Y_test,yhat3))*100

59.91267567198799

In [122]:
### DECISION TREE:

from sklearn.tree import DecisionTreeClassifier

tree=DecisionTreeClassifier(criterion='entropy', max_depth=4)



tree.fit(x_train,Y_train)

yhat2=tree.predict(x_test_)

acc(Y_test,yhat2)*100

59.9672533769955

In [84]:
### RANDOM FOREST CLASSIFIER

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV

# Choose the type of classifier. 
rnd = RandomForestClassifier()


### TO GET PARAMETERS OF ANY MODEL:

rnd.get_params().keys()

dict_keys(['bootstrap', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

In [109]:
### GRIDSEARCH + RANDOM FOREST CLASSIFIER:


# Choose some parameter combinations to try
parameters = {'n_estimators': [4, 6, 9], 
              'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3,5, 6, 10], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [1,5,8]
             }

# Type of scoring used to compare parameter combinations
acc_scorer = make_scorer(accuracy_score)

# Run the grid search
grid_obj = GridSearchCV(rnd, parameters, scoring=acc_scorer)
grid_obj = grid_obj.fit(x_train, Y_train)

# Set the clf to the best combination of parameters
rnd = grid_obj.best_estimator_  

# Fit the best algorithm to the data. 
rnd.fit(x_train, Y_train)

yhat7=rnd.predict(x_test_)

(acc(Y_test,yhat7))*100

C:\Users\Akshat Singhal\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

60.06276436075863

In [133]:
### VOTING CLASSIFIER(ENSEMBLE)

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC



voting_clf=VotingClassifier(estimators=[('lr',lr),('rf', rnd),('dt',tree),('knn',neigh),('rbf',clf3)], voting='soft')

voting_clf.fit(x_train,Y_train)

yhat6=voting_clf.predict(x_test_)

(acc(Y_test,yhat6))*100

59.91267567198799

### Note: As the maximum accuracy is achieved by using Random Forest model, hence using it to train the whole dataset and for final prediction.

In [142]:
### TRAINING ON FULL GIVEN DATASET

# WITH Random Forest:

rnd.fit(X_,y)


yhat_test=rnd.predict_proba(X_test_)

In [143]:

yhat_test=yhat_test[:,0]

In [144]:
df = pd.DataFrame(yhat_test)
df.columns=['is_goal']

In [145]:
df.shape

(6268, 1)

In [146]:
sub=pd.read_csv('sample_submission.csv')

In [147]:
sub['is_goal']=df['is_goal']

In [149]:
sub.to_csv('submission-13.csv')